@charset "UTF-8";
#wrap {
	height: 1000px;
}
header {
	background-color: #2AC1BC;
	height: 130px;
}
.title {
	color: #fff;
	font-size: 65px;
	font-weight: bolder;
}
section {
	min-height: 700px;
	border-bottom: #999;
}
.sec-title {
	font-size: 50px;
	font-weight: lighter;
}
.store {
	border-style: solid;
	border-color: #2AC1BC;
	border-radius: 5px;
}

footer {
	height: 100px;
}
.foot-cp{
	font-size: 30px;
	font-weight: bold;
}
.phoneNumber {
	font-size: 25px;
}